[user]
    name = Julio Batista Silva
    email = julio@juliobs.com
[core]
    autocrlf = false
    safecrlf = true
    editor = nvim
[alias]
    co = checkout
    ci = commit
    st = status -s
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
    amend = commit --amend
    snapshot = !git stash save "snapshot: $(date)" && git stash apply "stash@{0}"
    snapshots = !git stash list --grep snapshot
[github]
    user = jbsilva
[color]
    ui = true
[credential]
    helper = cache --timeout=3600
