*.pyc
.config/GIMP
.config/Insomnia/
.config/JetBrains
.config/KDE/
.config/Lens/
.config/Microsoft/
.config/PlasmaDiscoverUpdates
.config/Postman
.config/QtProject.conf
.config/Raspberry Pi/
.config/Slack/
.config/TelegramDesktoprc
.config/Transmission Remote GUI
.config/Trolltech.conf
.config/VeraCrypt
.config/akregatorrc
.config/arkrc
.config/baloofileinformationrc
.config/baloofilerc
.config/bleachbit
.config/bluedevilglobalrc
.config/breezerc
.config/byobu
.config/calibre/
.config/calibrerc
.config/chromium
.config/configstore
.config/copyq
.config/darktable
.config/dconf/user
.config/device_automounter_kcmrc
.config/digikam_systemrc
.config/digikamrc
.config/discord/
.config/discoverrc
.config/dleyna-renderer-service.conf
.config/dleyna-server-service.conf
.config/dolphinrc
.config/drkonqirc
.config/emaildefaults
.config/evolution/
.config/fcitx/
.config/fcitx5/
.config/filelightrc
.config/filetypesrc
.config/gcloud
.config/getmail
.config/git/
.config/gitahead.com/
.config/gitui
.config/gnome-control-center/
.config/goa-1.0/
.config/gtk-2.0/
.config/gtk-3.0/
.config/gtk-4.0/
.config/gtkrc
.config/gtkrc-2.0
.config/gwenviewrc
.config/helm/
.config/htop/htoprc
.config/ibus/
.config/inkscape
.config/iterm2
.config/jellyfin.org
.config/kactivitymanagerd-pluginsrc
.config/kactivitymanagerd-statsrc
.config/kactivitymanagerdrc
.config/karabiner/automatic_backups
.config/kateschemarc
.config/katevirc
.config/kcmfonts
.config/kcminputrc
.config/kconf_updaterc
.config/kde.org/
.config/kdeconnect/
.config/kded5rc
.config/kded_device_automounterrc
.config/kdedefaults/
.config/kdeglobals
.config/kfontinstuirc
.config/kgammarc
.config/kgetrc
.config/kglobalshortcutsrc
.config/khotkeysrc
.config/kiorc
.config/kioslaverc
.config/klipperrc
.config/kmixrc
.config/konquerorrc
.config/konsolerc
.config/konsolesshconfig
.config/krunnerrc
.config/kscreenlockerrc
.config/ksmserverrc
.config/ktimezonedrc
.config/kwalletmanager5rc
.config/kwalletrc
.config/kwinrc
.config/kwinrulesrc
.config/kxkbrc
.config/libaccounts-glib/
.config/libfm/
.config/libreoffice
.config/lxpanel/
.config/lxsession/
.config/lxtask.conf
.config/lxterminal/
.config/menus/
.config/mimeapps.list
.config/monitors.xml
.config/mtmigrate
.config/nautilus/
.config/ncmpcpp/error.log
.config/nvim/.netrwhist
.config/nvim/autoload
.config/nvim/plugged
.config/nvim/plugin/packer_compiled.lua
.config/nvim/spell
.config/nvm/
.config/obs-studio/
.config/okularpartrc
.config/okularrc
.config/openbox/
.config/pcmanfm/
.config/plasma-localerc
.config/plasma-nm
.config/plasma-org.kde.plasma.desktop-appletsrc
.config/plasma-welcomerc
.config/plasma-workspace/
.config/plasma.emojierrc
.config/plasmanotifyrc
.config/plasmaparc
.config/plasmarc
.config/plasmashellrc
.config/plasmawindowed-appletsrc
.config/plasmawindowedrc
.config/powerdevilrc
.config/powermanagementprofilesrc
.config/privateinternetaccess/
.config/pulse
.config/pypoetry/
.config/qalculate/
.config/qt5ct/
.config/raycast
.config/rclone
.config/retroarch
.config/session/
.config/showfotorc
.config/simple-scan/
.config/soffice.binrc
.config/spectaclerc
.config/spotify
.config/systemmonitorrc
.config/systemsettingsrc
.config/teams/
.config/totem/
.config/transmission-daemon/*
.config/transmission-remote-gtk/
.config/trashrc
.config/user-dirs.dirs
.config/vlc/
.config/vlcrc
.config/wireshark
.config/wslu
.config/xfce4
.config/xm1
.config/xsettingsd/
.config/gittyup.github.com
.gitconfig-wsl-hoppe
.config/jgit/config
.config/github-copilot/versions.json
.config/uv/uv-receipt.json
.config/hatch/
.config/zellij/config.kdl.bak
.config/go/telemetry
.config/colima
.config/direnv/lib/hm-nix-direnv.sh
