[user]
    name = Julio Batista Silva
    email = julio@juliobs.com
[core]
    autocrlf = false
    safecrlf = true
    editor = nvim
    excludesfile = /Users/julio/.gitignore_global
[alias]
    alias = "!f(){ git config -l | grep alias; };f"
    co = checkout
    ci = commit
    cp = cherry-pick
    st = status -s
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
    amend = commit --amend
    snap = !git stash save "snapshot: $(date)"
    apply0 = !git stash apply "stash@{0}"
    drop0 = !git stash drop "stash@{0}"
    unstash = stash pop
    snapshot = !git stash save "snapshot: $(date)" && git stash apply "stash@{0}"
    snapshots = !git stash list --grep snapshot
    sll = "!f() { for s in `git stash list --pretty=format:%gd`; do git stash show -p $s; done; };f"
    accept-ours = "!f() { git checkout --ours -- \"${@:-.}\"; git add -u \"${@:-.}\"; }; f"
    accept-theirs = "!f() { git checkout --theirs -- \"${@:-.}\"; git add -u \"${@:-.}\"; }; f"
[github]
    user = jbsilva
[color]
    ui = true
[credential]
    helper = osxkeychain
[merge]
    tool = appcode
[mergetool "appcode"]
    cmd = /Applications/AppCode.app/Contents/MacOS/appcode merge $(cd $(dirname "$LOCAL") && pwd)/$(basename "$LOCAL") $(cd $(dirname "$REMOTE") && pwd)/$(basename "$REMOTE") $(cd $(dirname "$BASE") && pwd)/$(basename "$BASE") $(cd $(dirname "$MERGED") && pwd)/$(basename "$MERGED")
    trustExitCode = true
[diff]
    tool = appcode
[difftool "appcode"]
    cmd = /Applications/AppCode.app/Contents/MacOS/appcode diff $(cd $(dirname "$LOCAL") && pwd)/$(basename "$LOCAL") $(cd $(dirname "$REMOTE") && pwd)/$(basename "$REMOTE")
[difftool "sourcetree"]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
    path = 
[mergetool "sourcetree"]
    cmd = /Applications/SourceTree Beta.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true
[commit]
    template = /Users/julio/.stCommitMsg
