*.pyc
.config/bleachbit
.config/byobu
.config/chromium
.config/Code - OSS/*
!.config/Code - OSS/User/
.config/Code - OSS/User/*
!.config/Code - OSS/User/settings.json
.config/.mono
.config/GIMP
.config/GitExtensions
.config/GitKraken
.config/JetBrains
.config/Postman
.config/QtProject.conf
.config/VeraCrypt
.config/configstore
.config/copyq
.config/dconf/user
.config/dolphinrc
.config/git/
.config/inkscape
.config/karabiner/automatic_backups
.config/libreoffice
.config/ncmpcpp/error.log
.config/nvim/.netrwhist
.config/nvim/autoload
.config/nvim/plugged
.config/nvim/spell
.config/pulse
.config/qt5ct/qt5ct.conf
.config/spotify
.config/trashrc
.config/wireshark
.config/xfce4
.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-power-manager.xml
.config/xm1
nvimlog
.config/dleyna-server-service.conf
.config/dleyna-renderer-service.conf
.config/autostart/
.config/evolution/
.config/gitahead.com/
.config/gnome-control-center/
.config/goa-1.0/
.config/gtk-4.0/
.config/ibus/
.config/libfm/
.config/lxpanel/
.config/lxsession/
.config/lxterminal/
.config/openbox/
.config/pcmanfm/
.config/transmission-remote-gtk/
.config/gtk-3.0/servers
.config/Microsoft/
.config/calibre/
.config/monitors.xml
.config/monitors.xml~
.config/nautilus/
.config/obs-studio/
.config/teams/
.config/totem/
.config/vlc/
.config/akregatorrc
.config/baloofileinformationrc
.config/baloofilerc
.config/bluedevilglobalrc
.config/kmixrc
.config/kscreenlockerrc
.config/ksmserverrc
.config/ktimezonedrc
.config/kwalletmanager5rc
.config/kwalletrc
.config/kwinrc
.config/kwinrulesrc
.config/kxkbrc
.config/libaccounts-glib/
.config/krunnerrc
.config/okularpartrc
.config/okularrc
.config/plasma-localerc
.config/plasma-nm
.config/plasma-org.kde.plasma.desktop-appletsrc
.config/plasma.emojierrc
.config/plasmanotifyrc
.config/plasmarc
.config/plasmashellrc
.config/powerdevilrc
.config/powermanagementprofilesrc
.config/session/
.config/systemmonitorrc
.config/systemsettingsrc
.config/xsettingsd/
.config/kactivitymanagerd-statsrc
.config/Trolltech.conf
.config/Unknown Organization/
.config/device_automounter_kcmrc
.config/discoverrc
.config/drkonqirc
.config/emaildefaults
.config/gtk-3.0/assets/
.config/gtk-3.0/colors.css
.config/gtk-3.0/gtk.css
.config/gtk-3.0/settings.ini
.config/gtk-3.0/window_decorations.css
.config/gtkrc
.config/gtkrc-2.0
.config/KDE/
.config/kactivitymanagerdrc
.config/kateschemarc
.config/kcminputrc
.config/kconf_updaterc
.config/kde.org/
.config/kdeconnect/
.config/kded5rc
.config/kdeglobals
.config/kfontinstuirc
.config/kgammarc
.config/kglobalshortcutsrc
.config/khotkeysrc
.config/klipperrc
