# @reboot, @yearly @annually, @monthly, @weekly, @daily, @midnight, @hourly
#
# minuto    hora    Dia do Mes        Mes          Dia da Semana    Comando
# (0-59)   (0-23)     (1-31)   (1-12 ou Jan-Dec)  (0-6 ou Sun-Sat)
#   10       7          *             3-12               *          /home/julio/Scripts/despertador.sh
    0    1,2,4,6,19     *              *                 *          /home/julio/Scripts/controla_torrents.sh -u 0
